* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    width: auto; 
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: center;
}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 2.5vw;
    padding-left: 1em;
    font-weight: 400;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.nav__li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav__li:hover {
    color:rgb(129, 241, 176);
}

.nav__a {
    color: #333;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1em;
    font-weight: 300;
}

/* Portfolio page styles */
.portfolio-page {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio-body {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 214, 243);
    width: 70%;
    height: 100%;
    width: auto;
}

.dev__photo {
    width: 18%;
    height: 28%;
    border-radius: 2.5em;
}

.personal-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(125, 125, 224);
    width: auto;
}

.full-name {
    text-align: center;
    font-size: 2em;
}

.profession {
    text-align: center;
    font-size: 1.2wv;
}

.socials-info {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.social__ul {
    display: flex;
    justify-content: center;
    
}

.resume {
    background-color: rgb(186, 243, 186);
}

.about__title, .skills__title, .education__title, .sertificates__title, .projects__title {
    font-weight: 500;
    font-size: 2.5vw;
    background-color: rgb(129, 241, 176);
    max-width: 100%;
    border-radius: 0.5em;
    text-align: center;
}

.about__text, .hard-skills__text, .soft-skills__text, .education__graduate, .education__self-education {
    font-size: 1.5vw;
    font-weight: 300;
    padding-left: 1em;
    
}

.sertificates__ul {
    list-style-type: none;
}

.sertificates__li a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #333;
}

.sertificates__li a:hover {
    color:rgb(125, 125, 224);
}

.projects__ul {
    text-align: center;
    list-style-type: none;
}

.project__img {
    width: 20%;
    height: 25%;
    border: 2px solid rgba(125, 125, 224, 0.5);
}

.project__img:hover {
    opacity: 0.8;
}


/* Footer styles */

footer {
    height: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.3vw;
    font-weight: 300;
}

.contact__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.located__footer {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.rounded {
    border-radius: 1.5em;
}

.mg-1 {
    margin: 1.5%;
}

.pd-1 {
    padding: 1%;
}

.border {
    border-bottom: 2px solid rgb(173, 170, 170);
}

.border-bot {
    border-bottom: 2px solid rgb(173, 170, 170);
}

.icon {
    padding: 10px;
    margin: 10px;
    font-size: 0.6em;
    width: 5em;
    height: 5em;
}

/* shadow effect style */
.shadow {
    -webkit-box-shadow: 0px 6px 87px -25px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 6px 87px -25px rgba(0,0,0,0.62);
    box-shadow: 0px 6px 87px -25px rgba(0,0,0,0.62);
}

.side-shadow {
    -webkit-box-shadow: 10px 10px 30px -1px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 30px -1px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 30px -1px rgba(0,0,0,0.46);
}

/* glitch effect style */
.glitch:hover {
    animation: glitch .25s ease-out;
}

@media (max-width: 500) {
    .about__text, .hard-skills__text, .soft-skills__text, .education__graduate, .education__self-education {
        font-size: 1.5vw;
        font-weight: 400;
        padding-left: 1em;
    }
}

@keyframes glitch {
    O% {
        transform: translateX(0);
        text-shadow:
            0 0 0 #0227f5,
            0 0 0 #4affff,
            0 0 0 #ff0825,
            0 0 0 #fffb19;
    }

    20% {
        transform: translateX(-0.1em);
        text-shadow:
            0.1em 0 0 #0227f5,
            -0.05em 0 0 #4affff,
            -0.1em 0 0 #ff0825,
            -0.2em 0 0 #fffb19;
    }

    40% {
        transform: translateX(0.05em);
        text-shadow:
            -0.05em 0 0 #0227f5,
            -0.1em 0 0 #4affff,
             0.05em 0 0 #ff0825,
             0 0 0 #fffb19;
    }

    60% {
        transform: translateX(-0.1em);
        text-shadow:
             0.2em 0 0 #0227f5,
             0.05em 0 0 #4affff,
             -0.1em 0 0 #ff0825,
             -0.05em 0 0 #fffb19;
    }

    80% {
        transform: translateX(0.05em );
    }
}
